################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WinFormsApp/.vs/WinFormsApp/FileContentIndex/1486f484-152c-410d-a883-c5f121703571.vsidx
/WinFormsApp/.vs/WinFormsApp/FileContentIndex/4fbe8b08-1fce-4151-a494-ee5544dce1f3.vsidx
/WinFormsApp/.vs/WinFormsApp/FileContentIndex/4a501a76-7d19-4763-882f-e7a1c50c6761.vsidx
/WinFormsApp/.vs/WinFormsApp/FileContentIndex/569e4fa2-3a02-4ebe-94ab-a91b28f2c01e.vsidx
/WinFormsApp/.vs/WinFormsApp/FileContentIndex
