################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WinFormsApp/.vs/WinFormsApp/FileContentIndex/1486f484-152c-410d-a883-c5f121703571.vsidx
